<ion-view view-title="Account">
  <ion-content class="padding">
    <form>
      <div class="list">
        <label class ="item item-input">
          <input type="text" name="datosLeidos.sistole" ng-model="datosLeidos.sistole" placeholder="Sistole"/>
        </label>
        <label class ="item item-input">
          <input type="text" name="datosLeidos.diastole" ng-model="datosLeidos.diastole" placeholder="Diastole"/>
        </label>
        <label class ="item item-input">
          <input type="text" name="datosLeidos.pulso" ng-model="datosLeidos.pulso" placeholder="Pulso"/>
        </label>
        <label class ="item item-input">
          <input type="text" name="datosLeidos.fecha" ng-model="datosLeidos.fecha" placeholder="Fecha"/>
        </label>
        <label class="item item-input">
          <span style="text-align: center; width: 100%;">
            <button class="button icon-left ion-android-send button-positive" ng-click="enviarDatos()">Enviar</button>
          </span>
        </label>
      </div>
    </form>
    <ion-list>
      <ion-toggle ng-model="cambio">
        Datos Recibidos
      </ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>
