html,body{padding: 0;margin:0;border: 0;}
body{max-width: 480px;overflow: hidden;}
.header{width: 100%;background-color: #24b1f9;padding: 15px;text-align: center;font-size: 24px;
	-webkit-box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.81);
	-moz-box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.81);
	box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.81);
}
.big-box{width: 100%;padding: 20px;background-color: #dbe9f9;padding: 15px;text-align: center;font-size: 24px;
	-webkit-box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.81);
	-moz-box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.81);
	box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.81);}
.big-box.secondary{background-color:#b8d8fc; }
.big-box .left-box, .big-box .right-box{display: inline-block;}
.big-box .left-box{width: 30%;position: relative;bottom: 58px;}
.big-box .right-box{width: 65%;}
.big-box .right-box .circle-border2{font-size: 48px;background-color: #b8d8fc;border-radius: 100px;border:1px solid #000;padding: 32px 0;}
.big-box .right-box .circle-border1{background-color: transparent;border-radius: 300px; border:2px solid #000;padding: 8px;width: 125px;text-align: center;margin: 0 auto}
.big-box.secondary .right-box .circle-border2{background-color: #deecfd;}
.small-box{width: 100%;padding: 10px;background-color: #64aafa;padding: 15px;text-align: center;font-size: 24px;
	-webkit-box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.81);
	-moz-box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.81);
	box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.81);}
.small-box *{display: inline-block;}

.small-box .right-box .circle-border2{font-size: 30px;background-color: #b8d8fc;border-radius: 100px;border:1px solid #000;padding: 10px 13px;}
.small-box .right-box .circle-border1{background-color: transparent;border-radius: 300px; border:2px solid #000;padding: 5px;width: 100px;text-align: center;margin: 0 auto}


.small-box .date{background-color: #b8d8fc;border-radius: 100px;border:2px solid #000;padding: 5px;}
.small-box .date-data{background-color: transparent;border-radius: 300px; border:1px solid #000;padding: 0px 13px;;text-align: center;margin: 0 auto}

.header{position: relative;z-index: 5}
.big-box:nth-child(2){position: relative;z-index: 4}
.big-box:nth-child(3){position: relative;z-index: 3}
.small-box:nth-child(4){position: relative;z-index: 2}

ul.semaforo {position: relative;width: auto; /* para 5 (ancho li x nº de círculos total) */margin: 10px auto;padding: 0;list-style-type: none;}
ul.semaforo li {position: relative;display: block;float: left;width: 20px; /* ancho de cada círculo */height: 20px;border-radius: 50%;background: lightgrey;}

.verde,.verde li:nth-of-type(1) {background:#51A87D;}
.verdeClaro, .verdeClaro li:nth-of-type(2) {background: #D4FFD4;}
.amarillo, .amarillo li:nth-of-type(3) {background: #FFFF25;}
.amarilloNaranja, .amarilloNaranja li:nth-of-type(4) {background: #FFD425;}
.naranja, .naranja li:nth-of-type(5) {background: #FFA823;}
.rojo, .rojo li:nth-of-type(6) {background: #FF2524;}
.azul, .azul li:nth-of-type(7) {background: #A9D4FF;}
.white {background: #FFFFFF;}


.titulos{
	font-size:15px !important; font-weight: bold;
}

.col {
	font-size: 11px; font-weight: bold; text-align: center; 
}

/*.col:last-child {
    border-right: solid 1px grey;
}

.row:last-child .col {
    border-bottom: solid 1px grey;
}*/

.circle {
	position: relative; top: 9px; width: 15px; max-width: 15px; height: 15px; display: block; border-radius: 50px; margin: 0 auto;
}